<!-- <textarea rows="6" [value]="Newpost" #postinput></textarea> -->
<!-- // Two way binding using ngmodel -->
<mat-card>

<!-- adding spinner || hiding entrire form-->
    <mat-spinner *ngIf="isloading"></mat-spinner>
    <!-- when we want to access the values form the form we will use local refrence variable such as #, also we not just use refrence variable as it will only us the access to html element. so to avoid it we will assign it to the ngForm, what it does it, it gives access to the form object  -->
    <form (submit)='onSavePost(postForm)'#postForm='ngForm'*ngIf="!isloading">
        <!-- when we are using we can omit the two way binding and instead of that we can use normal NgModel which will validate the form -->
            <mat-form-field>
                    <input matInput type="text" name='title'[ngModel]="post?.title"
                     required #title='ngModel'placeholder='Post Title'>
                    <!-- to get the access of the data inside the component
                    there are two ways to achive it
                    1. using local refrencce variable such as #(any name we want to give) and add ngmodel to it, so that it can access the values and can judge whether the values ae valid or not
                    2. using ngform to get access to the specfic components
                    
                    -->
                    <mat-error *ngIf="title.invalid">Please Enter the post Title</mat-error>

                </mat-form-field>
                <div>
                    <button mat-stroked-button type='button' (click)="filepicker.click()">Pick Button</button>
                    <input type='file' #filepicker>
                </div>
            <mat-form-field>
            <textarea rows="4" matInput name='content' [ngModel]='post?.content' required #content='ngModel' placeholder='Post Content'></textarea>
            <mat-error *ngIf="content.invalid">Please Enter the post Content</mat-error>

            </mat-form-field>
            <button mat-raised-button	color='primary' type="submit">save post</button>
    </form>
    

</mat-card>

